body {
    user-select: none;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border: solid 4px #212121;
    grid-gap: 4px; /* расстояние между ячейками */ 
    background-color: #212121;
    border-radius: 5px;
    max-width: 402px;
    font-family: "Calibri";
}
.item {
    background-color: #303030;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
}
.input {
    justify-content: flex-end;
    font-size: 30px;
    height: 60px;
    grid-column: 1/-1;
    padding: 0;
}
.upper {
    font-size: 20px;
    margin-left: 3px;
    margin-top: -20px;
}